<h1>Here are all your purchases</h1>

  <main>
    <% @transactions.each do |transaction| %>

      <p>
        How much: <%= transaction.value %><br>
        Where: <%= transaction.merchant.name %><br>
        What: <%= transaction.tag.name %>
      </p>

      <a href="/transactions/<%= transaction.id %>/edit"><input type="submit" value="Edit"></a>

      <form action="/transactions/<%= transaction.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>

    <% end %>
  </main>

  <section>
    <a href="/transactions/new"><input type="submit" value="Add more"></a>
  </section>
