<h2>All your transactions, painfully detailed</h2>

  <section>
    <% @transactions.each do |transaction| %>
      <p>
        <span>How much:</span> <%= transaction.value %><br>
        <span>Where:</span> <%= transaction.merchant.name %><br>
        <span>What:</span> <%= transaction.tag.name %>
      </p>

      <a href="/transactions/<%= transaction.id %>/edit"><input type="submit" value="Edit"></a>

      <form class="delete-buttons" action="/transactions/<%= transaction.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>

      <hr>
    <% end %>
  </section>

  <section>
    <p>Add a new hole in your budget?</p>
    <a href="/transactions/new"><input class="main-button" type="submit" value="Add more"></a>
  </section>
